@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  flex: content;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-image: url("https://image.freepik.com/free-vector/green-yellow-abstract-background_53876-99558.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.button {
  display: flex;
  background-color: rgb(195, 238, 4);
  border-radius: 25px;
  margin: auto;
  margin-top: 2em;
  border: none;
  font-size: 17px;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.4s ease-in-out;
  color: rgb(0, 0, 0);
}

.lable {
  color: rgb(2, 2, 2);
  display: inline-block;
  text-align: center;
}

.button:hover {
  background: rgb(21, 255, 0);
}

body {
  font-family: "Poppins", sans-serif;
  align-content: center;
  align-items: center;
  text-align: center;
}
nav {
  /* display: flex;
  align-content: flex-end; */
  border-radius: 40;
  width: 50%;
  margin:auto;
  margin-top:10px;
  padding: 1em;
  text-align: center;
  background-image: linear-gradient(rgb(108, 206, 28),lightgreen);

  color: rgb(1, 39, 3);
}
.form {
    background-image: linear-gradient(to bottom right,rgba(46, 243, 6, 0.993),yellow);
    width: 75%;
    border-radius: 35px;
    opacity: .6
;
    color:black;
 
  margin: auto;
  margin-top: 10%;
  padding: 50px;
  
}




input{ 
    background-color:lightsalmon;
    border-style: solid,5px,cyan;
    opacity:1.5;
    border-width: 3px;
    border-radius: 35px;
    align-content: center;

}
#ans {
  padding: 2rem;
  position: relative;
  margin-top: 9rem;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}

#answer {
  display: block;
  font-size: 0.8em;
  display: flex;
  position: relative;
  margin: auto;
  margin-bottom: auto;
  text-align: center;
}
.input {
  text-align: center;
}
footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: rgb(42, 102, 1);
  background-color: #00ff73;
  padding: 0.8em;
  font-size: 0.5em;
}

span {
  text-decoration: none;
  color:blue;
  font-family: "Lobster";
  display: block;
  font-size: 2.7em;
  padding-bottom: 0.2em;
}
@media only screen and (max-width: 400px) {
  * {
    text-align: center;
  }
}
@media screen and (max-width: 801px) {
  .lable {
    display: block;
  }
  .input {
    text-align: center;
  }
}
@media screen and (max-width: 396px) {
  .input {
    width: 7em;
  }
}
@media screen and (max-width: 320px), screen and (max-height: 647px) {
  #ans {
    margin-top: 3rem;
  }
}